.CombatLog {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  overflow-y: scroll;
}
.CombatLog__list {
  margin: 0;
  padding: 0;
}
.CombatLog__listitem {
  list-style: none;
  font-size: 14px;
}
