.ControlPanel {
  width: 100%;
  container-type: inline-size;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #444;
  color: white;
}
.ControlPanel__row {
  display: flex;
  justify-content: space-between;
  margin: 4cqi 6cqi 4cqi 5cqi;
  font-size: 6cqi;
}
.ControlPanel__label {
  flex: 1;
}
.ControlPanel__control {
  width: 40cqi;
  padding-right: 3cqi;
}
.ControlPanel__control input,
.ControlPanel__control select {
  font-size: 6cqi;
}
.ControlPanel__control input[type='checkbox'] {
  appearance: none;
  width: 6.2cqi;
  height: 6.2cqi;
  margin-left: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.ControlPanel__control input[type='checkbox']:checked::before {
  content: '';
  position: absolute;
  inset: 15% 20%;
  border-right: 0.15em solid white;
  border-bottom: 0.15em solid white;
  transform: rotate(45deg);
  transform-origin: 65% 60%;
}
.ControlPanel__statinput {
  width: 40cqi;
}
.ControlPanel__select {
  width: 44cqi;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
