.ControlPanel {
  width: 100%;
  color: white;
}
.ControlPanel label {
  display: flex;
  cursor: pointer;
  container-type: inline-size;
}
.ControlPanel__labeltext {
  padding-top: 1cqi;
  white-space: nowrap;
  font-size: 14cqi;
}
