.FloatingCombatText {
  position: absolute;
  inset: -75% 0 75% 0;
  pointer-events: none;
  font-family: 'Cinzel', serif;
}

.FloatingCombatText__item {
  position: absolute;
  bottom: var(--y);
  left: calc(50% + var(--x));
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 2.5cqi;
  color: #20c020;
  animation: fct-float 1.5s ease-out forwards;
}

@keyframes fct-float {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-60px);
  }
}
