body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  overflow: hidden;
}
body::after {
  content: '';
  position: absolute;
  inset: -5%;
  background: no-repeat
    url('/tbc-resto-druid-rotation-game/karazhan-banquet-hall.jpg') center;
  background-size: cover;
  filter: blur(3px);
  z-index: -1;
}

.layout {
  aspect-ratio: 16 / 9;
  position: relative;
  width: min(100vw, calc(100vh * 16 / 9));
  overflow: hidden;
  margin: 0 auto;
}

.layout__controlpanel {
  position: absolute;
  top: 1%;
  left: 0.5%;
  right: 88%;
}
.layout__actionbar {
  position: absolute;
  top: 75%;
  left: 40%;
  width: 20%;
  height: 5%;
}
.layout__castbar {
  position: absolute;
  top: 85%;
  left: 40%;
  width: 20%;
  height: 5%;
}
.layout__combatlog {
  position: absolute;
  inset: 75% 70% 0 0;
}
.layout__buffs {
  position: absolute;
  inset: 2.4% 0.8% auto 70%;
}
.layout__partyframes {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 11%;
}
.layout__lifebloomtracker {
  position: absolute;
  top: 75%;
  left: 64%;
  width: 15%;
}
.layout__healingmeter {
  position: absolute;
  top: 75%;
  left: 83%;
  width: 15%;
  height: 21%;
}
