.ActionBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  aspect-ratio: 6 / 1;
}

a.ActionBarButton {
  display: block;
  text-decoration: none;
  color: inherit;
}

.ActionBarButton {
  position: relative;
  aspect-ratio: 1;
  height: calc(100% - 2px);
  flex-shrink: 0;
  background-size: contain;
  border: 1px solid black;
  font-size: 10px;
  cursor: pointer;
}
.ActionBarButton__shortcut {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 3px;
  color: white;
  font-family: monospace;
  font-size: 1cqi;
  text-shadow: 0 0 3px black;
}
.ActionBarButton__name {
  display: none;
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
.CooldownOverlay,
.GCDOverlay {
  position: absolute;
  inset: 0;
  --color: rgba(0, 0, 0, 0.85);
  background: conic-gradient(
    transparent calc(var(--angle)),
    var(--color) var(--angle)
  );
}
.CooldownOverlay {
  z-index: 2;
  animation: conic-effect linear 1;
  animation-fill-mode: forwards;
}
.GCDOverlay {
  z-index: 3;
  animation: conic-effect 1.5s linear 1;
}
@keyframes conic-effect {
  0% {
    --angle: -1deg;
  }
  100% {
    --angle: 360deg;
  }
}
